body{

font-family:Arial;

background:#f4f4f4;

margin:0;

}

header{

background:#222;

color:white;

padding:20px;

}

nav a{

color:white;

margin-right:20px;

text-decoration:none;

}

button{

background:blue;

color:white;

padding:10px;

border:none;

}

.dark-mode {
    background: #121212;
    color: white;
}

.dark-mode header {
    background: #000;
}

.dark-mode nav a {
    color: white;
}

.dark-mode button {
    background: #444;
    color: white;
}

.dark-mode section {
    background: #1e1e1e;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}
